<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright Verticon, Inc. 2014 All rights reserved.
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="TreatmentEditorAdvisorApplication">
      <!-- @generated Treatment -->
      <application>
         <run class="com.verticon.treatment.presentation.TreatmentEditorAdvisor$Application"/>
      </application>
   </extension>


   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated Treatment -->
      <perspective
            name="%_UI_Perspective_label"
            class="com.verticon.treatment.presentation.TreatmentEditorAdvisor$Perspective"
            id="com.verticon.treatment.presentation.TreatmentEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated Treatment -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="com.verticon.treatment.presentation.TreatmentEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="com.verticon.treatment.presentation.TreatmentEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated Treatment -->
      <key
            commandId="com.verticon.treatment.presentation.TreatmentEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="com.verticon.treatment.presentation.TreatmentEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated Treatment -->
      <actionSet
            label="%_UI_TreatmentEditorAdvisor_ActionSet_label"
            visible="true"
            id="TreatmentEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="com.verticon.treatment.presentation.TreatmentEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="com.verticon.treatment.presentation.TreatmentEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="com.verticon.treatment.presentation.TreatmentEditorAdvisorOpenURICommand"
               class="com.verticon.treatment.presentation.TreatmentEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="com.verticon.treatment.presentation.TreatmentEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="com.verticon.treatment.presentation.TreatmentEditorAdvisorOpenCommand"
               class="com.verticon.treatment.presentation.TreatmentEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="com.verticon.treatment.presentation.TreatmentEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated Treatment -->
      <actionSet
            label="%_UI_TreatmentModelWizard_ActionSet_label"
            visible="true"
            id="com.verticon.treatment.presentation.TreatmentActionBarContributorActionSet">
         <action
               label="%_UI_TreatmentModelWizard_label"
               class="com.verticon.treatment.presentation.TreatmentActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="com.verticon.treatment.presentation.TreatmentActionBarContributorNewAction"/>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated Treatment -->
      <editor
            id="com.verticon.treatment.presentation.TreatmentEditorID"
            name="%_UI_TreatmentEditor_label"
            icon="icons/full/obj16/TreatmentModelFile.gif"
            extensions="treatment"
            class="com.verticon.treatment.presentation.TreatmentEditor"
            contributorClass="com.verticon.treatment.presentation.TreatmentActionBarContributor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%_UI_commands_Treatment_category_description"
            id="com.verticon.treatment.category"
            name="%category.name.2">
      </category>
      
      <!-- Place Holder in Popups Command -->
      <command
             id="com.verticon.treatment.editor.menus.popupany"
             
             categoryId="com.verticon.treatment.category"
             description="Command place holder for popups"
             name="Placeholder">
      </command>
      
     </extension>
     
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            
         <menu
               commandId="com.verticon.treatment.editor.menus.popupany"
               label="%menu.label.0">
         </menu>
       
      </menuContribution>  
   </extension>

    
</plugin>
