<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Treatment"
            id="com.verticon.treatment.views">
      </category>
      <view
            name="People View"
            icon="icons/sample.gif"
            category="com.verticon.treatment.views"
            class="com.verticon.treatment.views.PeopleView"
            id="com.verticon.treatment.views.PeopleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.verticon.treatment.presentation.TreatmentEditorAdvisorPerspective">
         <view
               closeable="false"
               id="com.verticon.treatment.views.PeopleView"
               moveable="false"
               ratio="0.95"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
